doctype html
html
    head
        title= willabtross
        link(rel='stylesheet', href='css/willbatross.css')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
        script(src='core/js/libraries/modernizr.js')
        script(src='core/js/libraries/medium.js')
        script(src='core/js/libraries/raphael.js')
        script(src='build/willbatross.js')
    body
        #wrapper
